*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header,
main,
footer {
    margin-left: 10px;
    margin-right: 10px;
}
img {
    width: 100%;
}
h1 {
    font-family: "Red Hat Display";
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    margin-bottom: 40px;
}
h2 {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 40px;
}
p {
    font-family: "Lato";
    font-size: 16px;
    color: #565656;
}
span {
    font-family: "Lato";
    display: block;
    font-size: 16px;
    color: #000000;
    margin-top: 18px;
    margin-bottom: 18px;
}
.text-dikoreishin {
    margin-bottom: 15px;
}
.holder-img {
    margin-bottom: 20px;
}
